footer {
    padding: rem(48px) 0 rem(54px) 0;
    background-color: $clr3;
}
.footer-wrapper {
    flex-direction: column;
    align-items: center;
    .nav {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: rem(24px);
        a:nth-child(2) {
            margin-inline-end: rem(43px);
        }
        a:not(:first-child) {
            line-height: rem(28px);
        }
        div {
            margin-bottom: rem(25px);
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .address p,
    i:last-of-type {
        margin: 0;
        font-size: rem(15px);
        opacity: 0.6;
        line-height: 25px;
    }
    .address {
        margin-bottom: rem(48px);
        p {
        text-align: center;
        }
    }
    .social-icons {
        align-self: center;
        align-items: center;
        margin-bottom: rem(18px);
        svg:not(:last-child) {
            margin-inline-end: rem(16px);
        }
    }
    div:last-child {
        flex-direction: column;
    }
}
@include for-normal-layout {
    .footer-wrapper {
        flex-direction: row;
        justify-content: unset;
        flex-wrap: wrap;
        .nav {
            align-self: flex-start;
            margin-inline-end: rem(125px);
            flex-grow: 1;
            justify-content: flex-start;
            margin-bottom: unset;
            div {
                width: 100%;
                display: block;
            }
        }
        .address {
            margin-bottom: unset;
            p {
            text-align: end;
            }
        }
        div:last-child {
            margin-top: rem(40px);
            width: 100%;
            flex-direction: row;
        }
        .social-icons{
            margin-bottom: unset
        }
    }
}
@include for-wide-layout {
    .footer-wrapper {
        flex-wrap: nowrap;
        align-items: unset;
        .nav {
            max-width: rem(160px);
            flex-grow: unset;
        }
        .address {
            align-self:center ;
            p{
                text-align: start;
            }
            flex-grow: 1;
        }
        .social-icons {
            align-self: flex-end;
        }
        div:last-child {
            margin-top: unset;
            width:unset;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
