header {
    overflow: hidden;
    margin-bottom: rem(80px) ;
    padding-top: rem(48px);
    .main-container{
        margin: 0 rem(24px)  ;
    }
    .logo {
        flex-grow: 1;
        svg{
            width: 128px;
            height: 32px;
        }
    }

    ul {
        display: none;
        li {
            &:not(:last-child) {
                margin-inline-end: rem(43px);
            }
        }
    }
    a {
        font-size: 18px;
        font-style: normal;
    }
}
@include for-narrow-layout {
    header {
        .logo {
            margin-inline-end: rem(48px);
            width: 128px;
            height: 32px;
            flex-grow: 1;
        }
    }
}
@include for-normal-layout {
    header {
        margin-bottom: rem(130px) ;
        .main-container{
            margin: 0 auto  ;
        }
        nav {
            padding-top: rem(30px);
        }
        .logo{
            flex-grow: unset;
            &+svg{
                display: none;
            }
        }
           
        ul {
            display: flex;
            align-items: center;
        }
    }
}
@include for-wide-layout {
    header {
        .logo {
            width: 160px;
            height: 40px;
            margin-inline-end: rem(80px);
        }
    }
}
