// Colors
$clr1:  #014e56;
$clr2: #012f34;
$clr3: #002529;
$clr4: #f67e7e;
$clr5: #fff;
$clr6:#79c8c7;

// Breakpoints
$mobile-breakpoint: 520px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1110px;
$wide-breakpoint: 1340px;